/* reset */
* { margin: 0;padding: 0; }
body { font:13px/1.5  "맑은 고딕", "Gulim", "Arial"; color:black; line-height:25px background-color:#efefef;}

ul,li {list-style: none;}
a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: black;
}
img {border: 0;}



.top{
  display: block;
  font-size: 21px;
  border-bottom:2px solid rgba(10, 90, 121, 0.7);

}
.top>img{
  position: relative;
  z-index: 1;
}
.top>ul{
  position: absolute;
  left: 350px;
  top: 60px;
}
.top>ul>li{
  float: left;
  font-weight: bold;
  margin-left: 50px;
  z-index: 10;
}


.exp{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.exp>p{
  margin-top: 10px;
  display: block;
  background-color: rgba(10, 90, 121, 0.7);
  color: white;
}

.know{
  position: relative;
  width: 100%;
}

.know>ul>li{
  width: 30%;
  margin-left: 2.5%;
  float: left;
  font-size: 14px;
}

#bold{
  font-weight: bold;
} 

#bl{
    border:1px solid black;
}

.know>ol>li{
  clear: both;
}

.bottom{
  position: relative;
  color: white;
  background-color: rgba(35, 36, 40, 0.87);
  vertical-align: bottom;
}

.bottom>p{
  margin-left: 13px;
}

.bottom>iframe{
  float: right;
  margin-right: 13px;
}

.link{
  color: white;
}


